header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 2rem;

  border-bottom: 1px solid var(--light-gray);

  background: var(--white);
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-container i {
  margin-right: 2rem;
}

.fa-bars {
  color: var(--darker-gray);
}

#logo {
  color: var(--cyan);
  font-weight: bold;
  font-size: 1.5rem;
}

.input-container {
  position: relative;
  margin: auto;
}

.fa-search {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 15px;
  height: 15px;
  color: var(--darker-gray);
  z-index: 1;
}

.search-input {
  width: 80rem;
  height: 3rem;

  padding: 0 3rem;

  border: 0;
  border-radius: 0.25rem;

  background: var(--gray);

  transition: background 300ms ease;
}

.search-input:hover {
  background: var(--dark-gray);
}

.search-input::placeholder {
  color: var(--darker-gray);
  font-weight: bold;
}

.user-container {
  display: flex;
  align-items: center;

  padding: 0 1rem;

  cursor: pointer;
}

.user-container img {
  width: 2rem;
  height: 2rem;

  margin-right: 1rem;

  border-radius: 50%;
}

.fa-ellipsis-v {
  color: var(--darker-gray);
}

.container {
  display: flex;

  margin-top: 5rem;
  margin-left: 20rem;
}

.left-menu {
  position: fixed;
  left: 0;
  top: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  min-width: 20rem;
  padding: 1.5rem;

  background: var(--white);
  z-index: 10;
}

.left-menu nav {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--gray);
}

.left-menu nav a {
  margin-bottom: 2rem;
  transition: filter 300ms ease;
}

.left-menu nav a:hover {
  filter: brightness(0.8);
}

.left-menu nav i {
  margin-right: 0.5rem;
  color: var(--darker-gray);

  transition: filter 300ms ease;
}

.left-menu nav a:hover i {
  filter: brightness(0.8);
}

.recently-viewed {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.recently-viewed #title {
  font-weight: bold;
  color: var(--black);

  margin-bottom: 2rem;
  cursor: default;
}

.recently-viewed span {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  color: var(--darker-gray);

  cursor: pointer;

  transition: filter 300ms ease;
}

.recently-viewed span:hover {
  filter: brightness(0.8);
}

.recently-viewed span img {
  width: 20px;
  height: 20px;

  border-radius: 50%;

  margin-right: 0.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.body-user-card {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  max-width: 60rem;
  height: 25rem;

  padding: 1rem 3rem;
  padding-top: 4rem;

  border: 1px solid var(--dark-gray);
  border-radius: 0.25rem;
}

.body-user-card img {
  max-width: 13rem;
  margin: 0 2rem;
  border-radius: 50%;
}

.user-card-data {
  display: flex;
  flex-direction: column;
}

.user-card-data #title {
  olor: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.user-card-data p {
  margin-top: 2rem;
  color: var(--black);

  max-width: 95%;
}

.user-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1rem 0;

  max-width: 90%;
}

.user-card-actions-dots {
  display: flex;
}

.user-card-actions-dots #dot {
  width: 2rem;
  height: 2rem;

  margin: 0 0.3rem;
  border-radius: 50%;
  background-color: var(--gray);
}

.user-card-actions button {
  background: var(--blue);
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: var(--white);

  font-size: 0.9rem;
}

.user-card-actions button i {
  margin-right: 0.5rem;
}

.user-card-navigation {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 4rem;
  padding: 1rem 0;
  width: 100%;

  border-top: 1px solid var(--dark-gray);
}

.user-card-navigation span {
  position: relative;
  cursor: pointer;
  color: var(--dark-gray);
}

span.action-selected {
  font-weight: bold;
  color: var(--black);
}

.user-card-navigation .action-selected::after {
  display: block;
  position: absolute;
  bottom: -1rem;
  content: '';

  width: 100%;
  height: 2px;

  background: var(--blue);
}

.user-card-navigation span + span {
  margin-left: 2rem;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 25rem);
  margin: 2rem 0;

  padding: 2rem 0;

  border-bottom: 1px solid var(--dark-gray);
}

.user-info img {
  width: 2rem;
  height: 2rem;

  border-radius: 50%;
  margin-right: 1.5rem;
}

.user-info div {
  display: flex;
  align-items: center;
}

.user-info div#user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info div#user span {
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
}

.user-info div#user p {
  font-size: 0.9rem;

  color: var(--darker-gray);
}

.user-info div#user p span {
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: bold;

  cursor: pointer;

  transition: filter 300 ease;
}

.user-info div#user p span:hover {
  filter: brightness(0.8);
}

.user-buttons button + button {
  margin-left: 1.5rem;
}

.user-buttons button {
  background: var(--white);
  border: 1px solid var(--dark-gray);
  border-radius: 0.25rem;
  padding: 0.7rem;
  color: var(--darker-gray);

  cursor: pointer;

  transition: filter 300ms ease;
}

.user-buttons button:hover {
  filter: brightness(0.9);
}

.user-buttons #increase-likes button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

.user-buttons #increase-likes {
  margin-right: 1.5rem;
}

.user-buttons .fa-chevron-up {
  background: var(--white);
  padding: 0.78rem;
  color: var(--darker-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  cursor: pointer;
}

.user-buttons .fa-chevron-up:hover {
  filter: brightness(0.9);
}

.user-buttons #edit {
  background: var(--blue);
  border: 0;
  border-radius: 0.25rem;
  padding: 0.7rem 1rem;
  color: var(--white);

  font-size: 0.9rem;

  transition: filter 300ms ease;
}

.user-buttons #edit:hover {
  filter: brightness(0.9);
}

.sumary-wrapper {
  display: flex;
}

.sumary-data {
  display: flex;
  flex-direction: column;

  padding-right: 2rem;
}

.sumary-data #title {
  font-weight: bold;
  font-size: 1.4rem;

  margin-bottom: 1rem;
}

.sumary-data ol {
  list-style: none;
  counter-reset: item;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sumary-data ol li {
  white-space: nowrap;

  counter-increment: item;
  margin-bottom: 5px;
}

.sumary-data ol.ol-styled li {
  white-space: nowrap;

  color: var(--blue);

  cursor: pointer;

  counter-increment: item;
  margin-bottom: 5px;

  transition: filter 300ms ease;
}

.sumary-data ol li::before {
  content: counter(item) '.';

  display: inline-block;
  width: 1.2em;

  margin-right: 1rem;
  border-radius: 100%;

  color: var(--black);
  text-align: center;
}

.sumary-data ol li:hover {
  filter: brightness(0.8);
}

.right-menu-sumary {
  display: flex;
  flex-direction: column;

  width: 50rem;
  max-height: 25rem;
  padding-left: 2rem;

  border-left: 2px solid var(--blue);
}

.right-menu-sumary div {
  display: flex;
  flex-direction: column;
}

.right-menu-sumary span {
  cursor: pointer;
  color: var(--darker-gray);

  transition: filter 300ms ease;
}

.right-menu-sumary #active {
  font-weight: bold;
  color: var(--blue);
}

.right-menu-sumary div span:hover {
  filter: brightness(0.8);
}

.right-menu-sumary div span + span {
  margin-top: 1rem;
}

@media only screen and (max-width: 1560px) {
  .sumary-wrapper {
    flex-direction: column;
  }

  .sumary-wrapper div + div {
    margin-top: 2rem;
  }

  .search-input {
    width: 40vw;
    height: 3rem;
  }
}
